@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url('assets/fonts/AvenirNext/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
  		 url('assets/fonts/AvenirNext/AvenirNextLTPro-Bold.otf')  format('opentype'),
       url('assets/fonts/AvenirNext/AvenirNextLTPro-Bold.woff') format('woff'),
       url('assets/fonts/AvenirNext/AvenirNextLTPro-Bold.ttf')  format('truetype'),
       url('assets/fonts/AvenirNext/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('assets/fonts/AvenirNext/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
  		 url('assets/fonts/AvenirNext/AvenirNextLTPro-Regular.otf')  format('opentype'),
       url('assets/fonts/AvenirNext/AvenirNextLTPro-Regular.woff') format('woff'),
       url('assets/fonts/AvenirNext/AvenirNextLTPro-Regular.ttf') format('truetype'),
       url('assets/fonts/AvenirNext/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body{
	margin:0;
	padding:0;
}

html {
  font-family: 'Roboto', sans-serif;
  background-color: #dcdcdc;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 62.5%;
  line-height: 1.618;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 18px;
  line-height: 24px;
  color:#222;
  letter-spacing: -0.5px;
}

::-moz-selection {color:#fff;background:#447ac7;}
::selection {color:#fff;background:#447ac7;}

a{
	text-decoration: none;
}

h2, h3{
	font-family: 'AvenirNextLTPro-Bold';
	font-size: 30px;
	letter-spacing: -2px; 
	margin:37px 0;
}

h4{
	font-family: 'AvenirNextLTPro-Bold';
	font-size: 22px;
	letter-spacing: -1px; 
}

h5{
	
	font-size: 18px;
	letter-spacing: -0.5px; 
	margin:20px 0 10px;
}

hr{
	border: 1px solid #dcdcdc;
	border-bottom-width: 0;
	border-right-width: 0;
	border-left-width: 0;
	margin:0 -10px;
}

.italic{
	font-style: italic;
}

.bold{
	font-weight: 700;
}

.whiteBg{
	background-color: #fff;
}

.wrap{
	max-width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}

.header{
	width:100%;
	height:172px;
	background-color: #222 !important;
}

.header h1{
	max-width: 1200px;
	height:70px;
	line-height:62px;
	margin:89px auto 0 !important;
	padding-left:88px;
	font-family: 'AvenirNextLTPro-Bold';
	font-size: 32px !important;
	letter-spacing: -2px !important;
	position: relative;
	background: url('assets/img/SFRRI-Logo.png') left top no-repeat;
	text-indent: -9999px;
}

.header h1:after{
	height:70px;
	line-height:62px;
	padding-left:88px;
	content:'SFRRI';
	position:absolute;
	top:0;
	left:0;
	text-indent: 0;
}


.header button{
	position: fixed !important;
	right:0 !important;/**/
	background: #222 !important;
	z-index: 99;
}

.NavBar{
	display: none;
}

@media screen and (min-width:769px) {
	.header{
		height:172px;
	}
	.header h1{
		max-width: 1200px;
		height:70px !important;
		line-height:62px !important;
		margin:88px auto 0 !important;
		font-size: 32px !important;
		text-indent: 0;
	}
	.header h1:after{
		text-indent: -9999px;
	}
}

@media screen and (min-width:1200px) {
	.header{
		height:280px;
	}
	.header h1{
		max-width: 1092px;
		height:70px !important;
		line-height:62px !important;
		margin:158px auto 0 !important;
		font-size: 48px !important;
		margin:0 auto;
		transform: translateX(19px);
	}
	.header button{
		display: none !important;
		position: absolute !important;
	}
	.NavBar{
		display: block;
	}
	/*.NavBar{
		max-width: 1200px;ton
		left: 0%;
		transform: translateX(-100%);
		transform: translateY(-100%);
    position: absolute;
    z-index: 1100;
	}
	.NavBar > div{
		margin:0 1px 2px;
	}
	.NavBar div button{
		height:50px !important;
		line-height:50px !important;
		background-color:#447ac7 !important;
	}
	.NavBar div button div div{
		line-height:50px !important;
	}*/
	.NavBar > div{
		display: none;
	}
	.NavBar > div.NavBarButton{
		display: block;
	}
	.NavBar div button div div span{
		color:#fff !important;
		text-transform: none !important;
		font-size: 18px !important;
		font-weight: 500 !important;
		padding: 0 19.6px !important;
	}
}

.Drawer{
	color:#dcdcdc !important;
	background-color: #222 !important;
	transition: all 300ms;
}

.topLevel{
	/*padding-left: 48px !important;*/
	border-bottom: 1px solid #444 !important;
}

.Drawer a{
	/*padding-left: 48px !important;*/
	
}

.drawerMenu, .drawerMenu svg{
	color:#dcdcdc !important;
}

.drawerMenu button{
	background-color:transparent !important;
}

.divider{
	background-color:#444 !important;
}

.homeLN{
	width:100%;
	position:relative;
	background: url(assets/img/Hinge_top_vials_on_a_vial_rack.jpg) no-repeat;
	background-size: cover;
	color:#fff;
}

.homeLN:before{
	content: "";
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color: rgba(57, 51, 39, 0.65);
}

.homeLN h2{
	margin-left: 20px;
	font-family: 'AvenirNextLTPro-Bold';
	font-size:60px;
	line-height: 48px;
	letter-spacing:-4px;
}

.homeLN a{
	color:#fff;
	text-decoration: underline ;
}

.frontNews{padding:0 20px;}

@media (min-width: 992px) {
	/*.frontNews{text-align: justify;}*/
}

.box{
	height:202px;
	padding:0 0 20px 0;
}



@media (min-width: 540px) {
  .box{
    padding:0;
  }
  .alpha{padding:0 10px 10px 0;}
  .beta{padding: 0 0 10px 10px;}
  .gamma{padding:10px 10px 0 0;}
  .omega{padding:10px 0 0 10px;}
}
@media (min-width: 992px) {
	.alpha, .beta, .gamma, .omega{padding:0;}
  .box{
    padding:0 20px 0 0;
  }
  .omega{padding:0;}
}
@media (min-width: 1200px) {
  .box{
    padding:0 10px 0 0;
  }
  .omega{padding:0;}
}


.boxBg{
	width: 100%;
	height:100%;
	padding: 178px 0 25px 20px;
	position:relative;
	font-family: 'AvenirNextLTPro-Bold';
	font-size: 30px;
	letter-spacing: -1px;
	color:#fff;
}


.boxBg:before{
	content: "";
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color: rgba(57, 51, 39, 0.35);
}

.boxBg:before:hover{
	background-color: rgba(57, 51, 39, 0.2);
}

.boxBg span{
	position:absolute;
	right:20px;
	left:20px;
	bottom:25px;
}

.rel{
	background: url(assets/img/Blood_clot_in_scanning_electron_microscopy.jpg) no-repeat;
	background-size: cover;
}

.mem{
	background: url(assets/img/BioProbes.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.his{
	background: url(assets/img/TrevorSlater.jpg) 97% 50% no-repeat;
	background-size: cover;
}

.car{
	background: url(assets/img/OxRadStress.jpg) no-repeat;
	background-size: cover;
	cursor:pointer;
}

.dialog > div:first-child > div:first-child {
  background-color: #000 !important;
}

.dialog > div:first-child > div:first-child h3{
	color:#fff !important;
}

.dialog > div:first-child > div:first-child > div:first-child {
  background-color: transparent !important;
}

.dialog svg{
	height: 42px !important;
  width: 42px !important;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.about{
	background-color: #fff;
}

.about h3, .about h4{
	font-family: 'AvenirNextLTPro-Bold';
	font-size:60px;
	letter-spacing:-4px;
}

.about h3{
	margin: 38px 0 38px 20px;
}

.about h4{
	margin: 25px 0 40px 20px;
}

@media (min-width: 1200px){
	.about h4{
		margin: 0 0 40px 20px;
	}
}

.about p{
	margin-left: 20px;
}

.mapContainer{
	position:relative;
	padding: 20px 0 0 30px;
  margin-bottom: -30px;
  display: none;
}

@media (min-width: 1200px){
	.mapContainer{
		display: block;
	}
}

.paper{
	background-color: transparent !important;
}

.mainContent,
.news{
	background-color: #fff;
	padding:1px 30px 20px;
	clear: both;
}

@media (max-width:1199px){
	.mainContent{
		margin-bottom: 20px;
	}
}

@media (min-width: 1200px){
	.left{
		margin-right: 10px;
	}
	.right{
		margin-left: 10px;
	}
}

.mainContent a,
.news a{
	color:#447ac7;
	text-decoration: underline;
	font-weight: 500;
}

.agmminutes{
	margin:20px 0;
}

.pdf{
	float:right;
}

.pdf a{
	color:#222;
	text-decoration: none;
}

.pdf a span{
	white-space: nowrap;
}

.regSoc, .journal{
	height:250px;
}

.regSoc p, .journal p{
	text-align: center;
}

.regSoc p{
	margin-top: -10px;
}

.logo{
	width: 100%;
	max-width: 174px;
	height:80%;
	margin: 0 auto;
	background-size: contain !important;
}


.occ{background: url('assets/img/societyLogos/OCC-logo.png') center center no-repeat;}
.sfrbm{background: url('assets/img/societyLogos/SFRBM-logo.png') center center no-repeat;}
.africa{background: url('assets/img/societyLogos/SFRR-Africa-logo.png') center center no-repeat;}
.asia{background: url('assets/img/societyLogos/SFRR-Asia-logo.png') center center no-repeat;}
.australasia{background: url('assets/img/societyLogos/SFRR-Australasia-logo.png') center center no-repeat;}
.europe{background: url('assets/img/societyLogos/SFRR-Europe-logo.png') center center no-repeat;}


.cover{
	width:auto;
	height:120px;
	margin: 0 auto;
	background-size: contain !important;
}

.Free-Radical-Biology-and-Medicine{background: url('assets/img/journals/Free-Radical-Biology-&-Medicine.jpg') center center no-repeat;}
.Redox-Biology{background: url('assets/img/journals/Redox-Biology.jpg') center center no-repeat;}
.Free-Radical-Research{background: url('assets/img/journals/Free-Radical-Research.jpg') center center no-repeat;}
.Nitric-Oxide{background: url('assets/img/journals/Nitric-Oxide.jpg') center center no-repeat;}
.Antioxidant-Redox-Signaling{background: url('assets/img/journals/Antioxidant-Redox-Signaling.jpg') center center no-repeat;}
.Molecular-Aspects-of-Medicine{background: url('assets/img/journals/Molecular-Aspects-of-Medicine.jpg') center center no-repeat;}
.Aging-Cell{background: url('assets/img/journals/Aging-Cell.jpg') center center no-repeat;}
.Ageing-Research-Reviews{background: url('assets/img/journals/Ageing-Research-Reviews.jpg') center center no-repeat;}
.Archives-of-Biochemistry-and-Biophysics{background: url('assets/img/journals/Archives-of-Biochemistry-and-Biophysics.jpg') center center no-repeat;}
/*============ collapsible =============*/

.more-button{
	padding:0;
	letter-spacing: -1px; 
	border-style:none;
	color: #447ac7;
	font-weight: 500;
	text-decoration: underline;
	background:none;	
	cursor: pointer;
}

.more-button:hover{
	color: #447ac7 !important;
}

.grow input:checked{color:red;}

.more-button:hover{color:black;}

.grow {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
  }
.avatar{
	width:250px;
	height:250px;
	background: url(assets/img/SFRRIExecutive/Shinya-Toyokuni.jpg) 0 0 no-repeat;
	background-size: contain;
	    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
}
/*============ /collapsible =============*/

.location{
	font-style: italic;
}

.title{
 font-weight: 500;
}

.contactDetailsLabel{
	margin:30px 0 0 0;
	font-weight: 500;
	font-style: italic;
}

.contactDetails{
	margin-top: 0;
}

.footer{
	width:100%;
	margin-top:20px;
	background-color:#447ac7;
	color:#fff;
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
}

.footer .container{
	padding: 36px 0px 4px;
}

.footer ul{
	margin:0;
	padding:0;
	list-style-type: none;
}

.footerLogo{
	width: 100%;
	height:80px;
	background: url('assets/img/SFRRI-footer-logo-no-map.png') left top no-repeat;
	background-size: contain;
	cursor: pointer;
	opacity: 0.8;
}

@media (min-width: 1200px) {
	.footerLogo{
		background: url('assets/img/SFRRI-footer-logo.png') left top no-repeat;
	}
}

.footerLogo:hover{
	opacity: 1.0;
}

.footerNavCell{
	height:135px;
	border-left:1px solid rgba(255,255,255,0.5);
	padding-left:25px;
}

.footerNavCell a{
	color:#fff;
}

.bottomNav{
	height:77px;
	background-color:#222 !important;
}

.bottomNav .row{
	margin-bottom: 0;
}

.copyright{
	margin-top: 30px;
	color: #dcdcdc;
	font-size: 11px;
}

.googleMap div{
	
}

div.gm-style-cc div span,
div.gm-style-cc div a,
div.gmnoprint.gm-style-cc div a{
	display:none;
}